---
title: About
slug: about
is_layout: false
listed: true
published: false
cache_strategy: none
response_type: text/html
position: 0
seo_title: About
editable_elements:
  "/sample_title": "<a href=\"http://\"><b>\r\n                Default&nbsp;Content\r\n
    \             </b></a>"
---
{% extends 'parent' %}

<strong>About page content goes here!</strong>